# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
text.text



link : https://www.youtube.com/watch?v=XZj4hmbNdSE
1st tiem : 1:22h
2nd tiem : 2:30h
3rd tiem : 3:04h
4th tiem : 3:48h